@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: clamp(8px, 1.1111vw, 40px);
  }
}

body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #58AAEB, #FFFFFF, #64B0DF);
  background-attachment: fixed; 
  min-height: 80vh;              
}
